/* Global Reset */


/* Page style */
body {
  font-family: "Poppins", sans-serif;

}

.fontBangla {
  font-family: "Hind Siliguri", sans-serif;
}

/* Remove default link style */
a {
  text-decoration: none;
  color: inherit;
}

/* Images responsive */
img {
  max-width: 100%;
  display: block;
}

/* Button cursor */
button {
  cursor: pointer;
}